@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap");

.faq {
  height: 90vh;
  width: 100%;
  scroll-margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.faq-header {
  text-align: center;
  height: 12vh;
}

.faq-buttons {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.faq-header h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
  color: #0f2137;
}

.faq-questions {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.questions-left {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}
.questions-right {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.question {
  border-bottom: 1px solid black;
  width: 80%;
}

.question h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #0f2137;
}

.question p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  color: #343d48;
}

.faq-header p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #02073e;
  opacity: 0.7;
  margin-top: 5px;
}

#button-questions {
  background: #d6e6f3;
  border-radius: 5px;
  color: #02073e;
}

#button-questions span {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #738295;
}

#button-questions span:hover {
  opacity: 1;
  color: #02073e;
}

@media (max-width: 450px) {
  .faq-header h2 {
    padding-right: 0;
  }
  .faq-questions {
    flex-direction: column;
  }
  .faq-header h2 {
    padding-right: 0;
  }
  .faq {
    height: 205vh;
  }
}

@media (max-width: 600px) {
  .faq-header h2 {
    padding-right: 0;
  }
  .faq-questions {
    flex-direction: column;
  }
  .faq-header h2 {
    padding-right: 0;
  }
  .faq {
    height: 165vh;
  }
}

@media (max-width: 960px) {
  .faq-header h2 {
    padding-right: 0;
  }
  .faq-questions {
    flex-direction: column;
  }
  .faq-header h2 {
    padding-right: 0;
  }
  .faq {
    height: 140vh;
  }
}
